.card-slot {
    width: 20px;
    height: 15rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.card-slot-inner {
    height: 100px;
    width: 100%;
    background-color: #b3e0ff;
    border-radius: 4px;
    margin: auto;
    border: 2px solid #66b3dd;

    /* Nuovi stili per il simbolo '+' */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: #66b3dd;
}
.small-card {
  width: 6rem;
  height: 6rem; /* altezza fissa */
  background-color: #cceeff;
  border: 1px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.small-card img {
  height: 5rem;         /* fissa l’altezza dell'immagine */
  width: 100%;          /* riempi tutta la larghezza */
  object-fit: cover;    /* ritaglia e centra */
}

.slot-button .inner-slot {
  background-color: #b3d7ff;
  transition: background-color 0.2s ease;
}

.slot-button:hover .inner-slot {
  background-color: #91c5ff;
}



.fixed-width-accordion {
  width: 1200px;
  margin: 2rem auto 0 auto;
}