.small-card {
  width: 13rem;
  height: 11rem; /* altezza fissa */
  background-color: #cceeff;
  border: 1px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.small-card img {
  height: 12rem;         /* fissa l’altezza dell'immagine */
  width: 100%;          /* riempi tutta la larghezza */
  object-fit: cover;    /* ritaglia e centra */
}
